.nav {
  width: 100%;
  background: salmon;
  padding: 20px 0;
}
.inner__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.lists {
  flex-direction: row;
}
.list {
  color: white;
}
